@model MVCInternetGamesShop.ViewModels.HomeViewModel
@using MVCInternetGamesShop.Infrastructure

@{
    ViewBag.Title = "Home Page";
}

<div id="banner">
    <h1>BANNER PLACEHOLDER</h1>
</div>



<div class="bestsellers">
</div>
    <h1>Bestsellery - PC</h1>

    <ul>
        @foreach (var bestseller in Model.PCBestsellers)
        {

            <li>
                <h1>@bestseller.Name</h1>
                <a href="@Url.Action("Details", "Games", new { id = bestseller.Id })"><img src="@Url.PCCoversPath(bestseller.ImageName)" /></a>

            </li>
            <li><a class="btn btn-primary" href="@Url.Action("AddToCart", "Cart", new { id = bestseller.Id })">Dodaj do koszyka</a></li>
        }
    </ul>







<div class="new-games">
    <h1>Nowości PC</h1>

    <ul>
        @foreach (var newest in Model.PCNewest)
        {

            <li>
                <div class="main-page-game">
                    <h1>@newest.Name</h1>

                    <a href="@Url.Action("Details", "Games", new { id = newest.Id })"><img src="@Url.PCCoversPath(newest.ImageName)" /></a>
                </div>
            </li>
        }
    </ul>

</div>





