@model MVCInternetGamesShop.ViewModels.HomeViewModel
@using MVCInternetGamesShop.Infrastructure


@{
    ViewBag.Title = "Home Page";
}

<div id="banner">
    <h1>BANNER PLACEHOLDER</h1>
</div>

<div class="jumbotron">
    <div class="bestsellers">

        <h1>Bestsellery</h1>
        <ul class="list-inline">
            @foreach (var bestseller in Model.PCBestsellers)
            {

                <li>


                    <p>@bestseller.Name</p>

                    <div class="img-container"><a href="@Url.Action(" Details", "Games" , new { id=bestseller.Id })"><img src="@Url.PCCoversPath(bestseller.ImageName)" /></a></div>
                    <a class="btn btn-primary" href="@Url.Action("AddToCart","Cart", new { id=bestseller.Id })">Dodaj do koszyka</a>


                </li>
            }

        </ul>
    </div>

    <h1>Nowości</h1>


    <ul class="list-inline">
        @foreach (var newest in Model.PCNewest)
            {

            <li>


                <p>@newest.Name</p>

                <div class="img-container"><a href="@Url.Action(" Details", "Games" , new { id=newest.Id })"><img src="@Url.PCCoversPath(newest.ImageName)" /></a></div>
                <a class="btn btn-primary" href="@Url.Action("AddToCart","Cart", new { id=newest.Id })">Dodaj do koszyka</a>


            </li>

        }
    </ul>

</div>

























