@model MVCInternetGamesShop.ViewModels.HomeViewModel
@using MVCInternetGamesShop.Infrastructure


@{
    ViewBag.Title = "Home Page";
}

<div id="banner">
    <h1>BANNER PLACEHOLDER</h1>
</div>

<div class="jumbotron">
    <div class="bestsellers">

        <h1>Bestsellery - PC</h1>
        <ul class="list-inline">
            @foreach (var bestseller in Model.PCBestsellers)
            {

                <li>


                    <p>@bestseller.Name</p>

                    <div class="img-container-large"><a href="@Url.Action("Details", "Games" , new { id=bestseller.Id })"><img src="@Url.PCCoversPath(bestseller.ImageName)" /></a></div>
                    <a class="btn btn-primary add-to-cart-js" data-id="@bestseller.Id" href="#">Dodaj do koszyka</a>


                </li>
            }

        </ul>
    </div>

    <h1>Nowości - PC</h1>


    <ul class="list-inline">
        @foreach (var newest in Model.PCNewest)
            {

            <li>


                <p>@newest.Name</p>

                <div class="img-container-large"><a href="@Url.Action("Details", "Games" , new { id=newest.Id })"><img src="@Url.PCCoversPath(newest.ImageName)" /></a></div>
                <a class="btn btn-primary add-to-cart-js" data-id="@newest.Id" href="#">Dodaj do koszyka</a>


            </li>

        }
    </ul>

    <div class="bestsellers">

        <h1>Bestsellery - PS4</h1>
        <ul class="list-inline">
            @foreach (var bestseller in Model.Ps4Bestsellers)
            {

                <li>


                    <p>@bestseller.Name</p>

                    <div class="img-container-large"><a href="@Url.Action("Details", "Games" , new { id=bestseller.Id })"><img src="@Url.Ps4CoversPath(bestseller.ImageName)" /></a></div>
                    <a class="btn btn-primary add-to-cart-js" data-id="@bestseller.Id" href="#">Dodaj do koszyka</a>


                </li>
            }

        </ul>
    </div>

    <h1>Nowości - PS4</h1>


    <ul class="list-inline">
        @foreach (var newest in Model.Ps4Newest)
            {

            <li>


                <p>@newest.Name</p>

                <div class="img-container-large"><a href="@Url.Action("Details", "Games" , new { id=newest.Id })"><img src="@Url.Ps4CoversPath(newest.ImageName)" /></a></div>
                <a class="btn btn-primary add-to-cart-js" data-id="@newest.Id" href="#">Dodaj do koszyka</a>


            </li>

        }
    </ul>

    <div class="bestsellers">

        <h1>Bestsellery - XBOX</h1>
        <ul class="list-inline">
            @foreach (var bestseller in Model.XBoxBestsellers)
            {

                <li>


                    <p>@bestseller.Name</p>

                    <div class="img-container-large"><a href="@Url.Action("Details", "Games" , new { id=bestseller.Id })"><img src="@Url.XBoxOneCoversPath(bestseller.ImageName)" /></a></div>
                    <a class="btn btn-primary add-to-cart-js" data-id="@bestseller.Id" href="#">Dodaj do koszyka</a>


                </li>
            }

        </ul>
    </div>

    <h1>Nowości - XBOX</h1>


    <ul class="list-inline">
        @foreach (var newest in Model.XBoxNewest)
            {

            <li>


                <p>@newest.Name</p>

                <div class="img-container-large"><a href="@Url.Action("Details", "Games" , new { id=newest.Id })"><img src="@Url.XBoxOneCoversPath(newest.ImageName)" /></a></div>
                <a class="btn btn-primary add-to-cart-js" data-id="@newest.Id" href="#">Dodaj do koszyka</a>


            </li>

        }
    </ul>

</div>

























