@model MVCInternetGamesShop.ViewModels.HomeViewModel
@using MVCInternetGamesShop.Infrastructure


@{
    ViewBag.Title = "Home Page";
}

<div id="banner">
    <h1>BANNER PLACEHOLDER </h1>
    <span class="info-message"> W celach testowych zostały stworzone dwa konta. Administratora i zwykłego użytkownika. Nie musisz więc zakładać własnego - po prostu użyj poniższych danych. Konto Administratora posiada dodatkowe możliwości - dodawania i edycji gier. <br />  Dane: admin@gmail.com hasło: Abba1234! <br />  lub quest@gmail.com  hasło: Abba123!</span>
</div>

<div>



    <form class="navbar-form" role="search" action="/" method="post">
        <div class="input-group add-on">
            <input class="form-control" placeholder="Wpisz tytuł gry" name="search" id="search" type="text">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>


</div>

<div class="jumbotron">
    <div class="bestsellers">

        <h1>Bestsellery - PC</h1>
        <ul class="list-inline">
            @foreach (var bestseller in Model.PCBestsellers)

            {
                <li>
                    <p class="game-name">@bestseller.Name Cena: @bestseller.Price zł</p>
                    <div class="img-container-large"><a href="@Url.Action("Details", "Games" , new { id=bestseller.Id })"><img src="@Url.PCCoversPath(bestseller.ImageName)" /></a><a href="@Url.Action("Edit", "Games" , new { id=bestseller.Id })" class="btn btn-danger edit-game-button">Edytuj</a></div>
                    <a class="btn btn-primary add-to-cart-js" data-id="@bestseller.Id" href="#">Dodaj do koszyka</a>
                    <a class="btn btn-primary" href="@Url.Action("Details", "Games" , new { id=bestseller.Id })">Szczegóły</a>

                </li>
            }

        </ul>
    </div>

    <h1>Nowości - PC</h1>


    <ul class="list-inline">
        @foreach (var newest in Model.PCNewest)
            {

            <li>


                <p class="game-name">@newest.Name    @newest.Price zł</p>

                <div class="img-container-large"><a href="@Url.Action("Details", "Games" , new { id=newest.Id })"><img src="@Url.PCCoversPath(newest.ImageName)" /></a><a href="@Url.Action("Edit", "Games" , new { id=newest.Id })" class="btn btn-danger edit-game-button">Edytuj</a></div>
                <a class="btn btn-primary add-to-cart-js" data-id="@newest.Id" href="#">Dodaj do koszyka</a>
                <a class="btn btn-primary" href="@Url.Action("Details", "Games" , new { id=newest.Id })">Szczegóły</a>


            </li>

        }
    </ul>

    <div class="bestsellers">

        <h1>Bestsellery - PS4</h1>
        <ul class="list-inline">
            @foreach (var bestseller in Model.Ps4Bestsellers)
            {

                <li>


                    <p class="game-name">@bestseller.Name   @bestseller.Price zł</p>

                    <div class="img-container-large"><a href="@Url.Action("Details", "Games" , new { id=bestseller.Id })"><img src="@Url.Ps4CoversPath(bestseller.ImageName)" /></a><a href="@Url.Action("Edit", "Games" , new { id=bestseller.Id })" class="btn btn-danger edit-game-button">Edytuj</a></div>
                    <a class="btn btn-primary add-to-cart-js" data-id="@bestseller.Id" href="#">Dodaj do koszyka</a>
                    <a class="btn btn-primary" href="@Url.Action("Details", "Games" , new { id=bestseller.Id })">Szczegóły</a>


                </li>
            }

        </ul>
    </div>

    <h1>Nowości - PS4</h1>


    <ul class="list-inline">
        @foreach (var newest in Model.Ps4Newest)
            {

            <li>


                <p class="game-name">@newest.Name    @newest.Price zł</p>

                <div class="img-container-large"><a href="@Url.Action("Details", "Games" , new { id=newest.Id })"><img src="@Url.Ps4CoversPath(newest.ImageName)" /></a><a href="@Url.Action("Edit", "Games" , new { id=newest.Id })" class="btn btn-danger edit-game-button">Edytuj</a></div>
                <a class="btn btn-primary add-to-cart-js" data-id="@newest.Id" href="#">Dodaj do koszyka</a>
                <a class="btn btn-primary" href="@Url.Action("Details", "Games" , new { id=newest.Id })">Szczegóły</a>


            </li>

        }
    </ul>

    <div class="bestsellers">

        <h1>Bestsellery - XBOX</h1>
        <ul class="list-inline">
            @foreach (var bestseller in Model.XBoxBestsellers)
            {

                <li>


                    <p class="game-name">@bestseller.Name   @bestseller.Price zł</p>

                    <div class="img-container-large"><a href="@Url.Action("Details", "Games" , new { id=bestseller.Id })"><img src="@Url.XBoxOneCoversPath(bestseller.ImageName)" /></a><a href="@Url.Action("Edit", "Games" , new { id=bestseller.Id })" class="btn btn-danger edit-game-button">Edytuj</a></div>
                    <a class="btn btn-primary add-to-cart-js" data-id="@bestseller.Id" href="#">Dodaj do koszyka</a>
                    <a class="btn btn-primary" href="@Url.Action("Details", "Games" , new { id=bestseller.Id })">Szczegóły</a>


                </li>
            }

        </ul>
    </div>

    <h1>Nowości - XBOX</h1>


    <ul class="list-inline">
        @foreach (var newest in Model.XBoxNewest)
            {

            <li>


                <p class="game-name">@newest.Name    @newest.Price zł</p>

                <div class="img-container-large"><a href="@Url.Action("Details", "Games" , new { id=newest.Id })"><img src="@Url.XBoxOneCoversPath(newest.ImageName)" /></a><a href="@Url.Action("Edit", "Games" , new { id=newest.Id })" class="btn btn-danger edit-game-button">Edytuj</a></div>
                <a class="btn btn-primary add-to-cart-js" data-id="@newest.Id" href="#">Dodaj do koszyka</a>
                <a class="btn btn-primary" href="@Url.Action("Details", "Games" , new { id=newest.Id })">Szczegóły</a>

            </li>
        }
    </ul>

</div>
