@model MVCInternetGamesShop.ViewModels.HomeViewModel
@using MVCInternetGamesShop.Infrastructure

@{
    ViewBag.Title = "Home Page";
}

<div id="banner">
    <img src="#" />
    <h1>BANNER PLACEHOLDER</h1>
</div>



<div class="PC">
    <h1>Bestsellery - PC</h1>

    <ul class="list-inline">
        @foreach (var bestseller in Model.PCBestsellers)
        {

            <li>
                <h1>@bestseller.Name</h1>
                <a href="@Url.Action("Details", "Games", new { id = bestseller.Id })"><img src="@Url.PCCoversPath(bestseller.ImageName)" /></a>
                <a class="btn btn-primary" href="@Url.Action("AddToCart", "Cart", new { id = bestseller.Id })">Dodaj do koszyka<</a>
</li>



        }
    </ul>





    <h1>Nowości PC</h1>

    <ul class="list-inline">
        @foreach (var newest in Model.PCNewest)
        {

            <li>
                <h1>@newest.Name</h1>
                <a href="@Url.Action("Details", "Games", new { id = newest.Id })"><img src="@Url.PCCoversPath(newest.ImageName)" /></a>
            </li>



        }
    </ul>


</div>
