@model MVCInternetGamesShop.ViewModels.PlatformViewModel
@using MVCInternetGamesShop.Infrastructure
@{
    ViewBag.Title = "Platform";
}

<h2>Platforma</h2>




<div class="jumbotron">
    <ul class="list-inline">
        @foreach (var game in Model.Games)
        {
            var src = "";
            {

                if (game.PlatformId == 1)
                {
                    src = Url.Ps4CoversPath(game.ImageName);
                }
                else if (game.PlatformId == 2)
                {
                    src = Url.PCCoversPath(game.ImageName);
                }
                else if (game.PlatformId == 3)
                {
                    src = Url.XBoxOneCoversPath(game.ImageName);
                }
            }

            <li>


                <p class="game-name">@game.Name Cena: @game.Price zł</p>

                <div class="img-container-large"><a href="@Url.Action("Details", "Games" , new { id=game.Id })"><img src="@src" /> </a><a href="@Url.Action("Edit", "Games" , new { id=game.Id })" class="btn btn-danger edit-game-button">Edytuj</a></div>
                <a class="btn btn-primary add-to-cart-js" data-id="@game.Id" href="#">Dodaj do koszyka</a>
            </li>
        }
    </ul>
</div>

