@model MVCInternetGamesShop.ViewModels.GameFormViewModel
@{
    ViewBag.Title = "GameForm";
}

<h2>GameForm</h2>
@using (Html.BeginForm("Save", "Games"))
{ 
<div class="form-group">
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.Price)
    @Html.TextBoxFor(m => m.Price)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ImageName)
    @Html.TextBoxFor(m => m.ImageName)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.PlatformId)
    @Html.DropDownListFor(m => m.PlatformId, new SelectList(Model.Platforms, "Id", "Name"))
</div>

<div class="form-group">
    @Html.LabelFor(m => m.IsBestseller)
    @Html.CheckBoxFor(m => m.IsBestseller)
</div>

<div class="form-group">
    @Html.LabelFor(m => m.ReleaseDate)
    @Html.TextBoxFor(m => m.ReleaseDate)
</div>

<div class="form-group">

    @Html.LabelFor(m => m.CategoryId)
    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Category, "Id", "Name"))

    @Html.HiddenFor(m => m.Id)

</div>
    <button type="submit">Save</button>
}