@model MVCInternetGamesShop.ViewModels.CartViewModel
@using MVCInternetGamesShop.Infrastructure
@{
    ViewBag.Title = "Index";
}

<h2>Koszyk</h2>

<table class="table">
    <thead>
        <tr>

            <th>Miniaturka</th>
            <th>Nazwa Gry</th>
            <th>Cena</th>
            <th>Ilość</th>
        </tr>

    </thead>
    <tbody>
        @{ string src = "1";
            foreach (var cartPosition in Model.CartPosition)
            {

                {
                    if (cartPosition.Game.PlatformId == 1)
                    {
                        src = Url.Ps4CoversPath(cartPosition.Game.ImageName);
                    }
                    else if (cartPosition.Game.PlatformId == 2)
                    {
                        src = Url.PCCoversPath(cartPosition.Game.ImageName);
                    }
                    else if (cartPosition.Game.PlatformId == 3)
                    {
                        src = Url.XBoxOneCoversPath(cartPosition.Game.ImageName);
                    }
                }

                <tr id="delete-row-js-@cartPosition.Game.Id">
                    <td>
                        <div class="img-container-small"><a><img src="@src" /></a></div>
                    </td>

                    <td>@cartPosition.Game.Name</td>
                    <td>@cartPosition.PriceOfItem</td>
                    <td id="cart-position-quantity-@cartPosition.Game.Id">@cartPosition.Quantity</td>
                    <td><a class="delete-product" data-id="@cartPosition.Game.Id" href="#">Usuń</a></td>
                </tr>

            }



        }


    </tbody>
</table>


        
    <p id="empty-message" class="hidden" data-cartQuantity="@Model.CartPosition.Count">Twój koszyk jest pusty</p>




<p id="total-price">Razem @Model.TotalPrice</p>

<a class="btn btn-default" id="pay-button" href="@Url.Action("Confirm", "Cart")">Zapłać</a>


@section scripts {
    
    <script>
        var numberOfItemsInCart = $('#empty-message').attr('data-cartQuantity');
        console.log(typeof numberOfItemsInCart)
        if (numberOfItemsInCart === '0') {
            $('#empty-message').removeClass('hidden');
        }

    </script>
    }
